.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  padding: non;
}

h1 {
  font-size: 30px;
}

video {
  max-width: 350px;
}

.main {
  align-self: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ff4066;
}

.nazwagry {
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: right;
  font-weight: bolder;
}
@media (min-width: 2901px) and (max-width: 8900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 2601px) and (max-width: 2900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}



@media (min-width: 2300px) and (max-width: 2600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 800px) and (max-width: 1300px){
  .container {
    grid-template-columns: 1fr 1fr;

  }
}

@media (max-width: 799px) and (min-width: 1px) {
  .container {
    grid-template-columns: 1fr;
  }
}

